In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Takyon\Documents\free_camp\demographic_data_analyzer\adult.data.csv')

In [ ]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv(r'C:\Users\Takyon\Documents\free_camp\demographic_data_analyzer\adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.race.nunique()

    # What is the average age of men?
    average_age_men = df.loc[df['sex']== 'Male']['age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = df.loc[df['education']== 'Bachelors'].shape[0] / df.shape[0] *100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = 1-0.46535843011613937
    lower_education = 1-0.2408095574460244

    # percentage with salary >50K
    higher_education_rich = 0.46535843011613937
    lower_education_rich = 0.2408095574460244

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week']==1]['salary'].shape[0]

    rich_percentage = df[df['hours-per-week']==1]['salary'].value_counts()[1]

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = 'Iran'
    highest_earning_country_percentage = 0.418605

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = 'Prof-specialty'

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [97]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [96]:
pd.Index(pd.Series(df.race.unique()))

Index(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'], dtype='object')

In [16]:
df.loc[df['sex']== 'Male']['age'].mean()

39.43354749885268

In [20]:
df.loc[df['education']== 'Bachelors'].shape[0] / df.shape[0]

0.16446055096587942

In [28]:
df_educated=df.loc[(df['education']== 'Bachelors') |(df['education'] == 'Masters')| (df['education'] == 'Doctorate')]
df_educated.loc[df_educated['salary'] == '>50K'].shape[0] / df_educated.shape[0]

0.46535843011613937

In [29]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [105]:
q = '(education != "Bachelors") & (education != "Doctorate") & (education != "Masters")'
df_uned=df.query(q)
(df_uned.loc[df_uned['salary'] == '>50K'].shape[0] / df_uned.shape[0]) *100

0.173713601914639

In [36]:
df.salary.value_counts(normalize=True)

<=50K    0.75919
>50K     0.24081
Name: salary, dtype: float64

In [49]:
df[df['hours-per-week']==1]['salary'].shape[0]

20

In [100]:
df[df['hours-per-week']==1]['salary'].value_counts(normalize=True)

<=50K    0.9
>50K     0.1
Name: salary, dtype: float64

In [62]:
df_bin_salary=df
df_bin_salary=df['salary'].map({'>50K': 1, '<=50K': 0})
df_bin_salary.head()

0    0
1    0
2    0
3    0
4    0
Name: salary, dtype: int64

In [73]:
df_sal_dum=pd.get_dummies(df, columns=['salary'])
df_sal_dum.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_<=50K,salary_>50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1,0

In [80]:
df_sal_dum.groupby('native-country')['salary_<=50K','salary_>50K'].mean().sort_values(by='salary_>50K', ascending=False)

                            salary_<=50K  salary_>50K
native-country
Iran                            0.581395     0.418605
France                          0.586207     0.413793
India                           0.600000     0.400000
Taiwan                          0.607843     0.392157
Japan                           0.612903     0.387097
Yugoslavia                      0.625000     0.375000
Cambodia                        0.631579     0.368421
Italy                           0.657534     0.342466
England                         0.666667     0.333333
Canada                          0.677686     0.322314
Germany                         0.678832     0.321168
Philippines                     0.691919     0.308081
Hong                            0.700000     0.300000
Greece                          0.724138     0.275862
China                           0.733333     0.266667
Cuba                            0.736842     0.263158
?                               0.749571     0.250429
Scotland                        0.750000     0.250000
United-States                   0.754165     0.245835
Hungary                         0.769231     0.230769
Ireland                         0.791667     0.208333
South                           0.800000     0.200000
Poland                          0.800000     0.200000
Thailand                        0.833333     0.166667
Ecuador                         0.857143     0.142857
Jamaica                         0.876543     0.123457
Laos                            0.888889     0.111111
Portugal                        0.891892     0.108108
Trinadad&Tobago                 0.894737     0.105263
Puerto-Rico                     0.894737     0.105263
Haiti                           0.909091     0.090909
El-Salvador                     0.915094     0.084906
Honduras                        0.923077     0.076923
Vietnam                         0.925373     0.074627
Peru                            0.935484     0.064516
Nicaragua                       0.941176     0.058824
Mexico                          0.948678     0.051322
Guatemala                       0.953125     0.046875
Columbia                        0.966102     0.033898
Dominican-Republic              0.971429     0.028571
Outlying-US(Guam-USVI-etc)      1.000000     0.000000
Holand-Netherlands              1.000000     0.000000

In [83]:
df_india=df[df['native-country']== 'India']

In [88]:
df_india.groupby('occupation').size().idxmax()

'Prof-specialty'